Nav {
  font-weight: 600;
}

#linkNavbar {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

#linkNavbar:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 18px;
}