#msgError {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1rem;
    color: black;

    background-color: #fff;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#homeLink{
    text-decoration: none;
}
